In [7]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\alexi\anaconda3\lib\site-packages (4.9.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\alexi\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: trio~=0.17 in c:\users\alexi\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\alexi\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\alexi\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: idna in c:\users\alexi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: async-generator>=1.9 in c:\users\alexi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\alexi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: cffi>=1.14 in c:\users\alexi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: attrs>=19.2.0 in c:\users\alexi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: outcome in c:\users\alexi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\alexi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\alexi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\alexi\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\alexi\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\alexi\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\alexi\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [8]:
from selenium import webdriver
navegador = webdriver.Chrome()
navegador.get("https://www.google.com/")

In [9]:
import pandas as pd

tabela = pd.read_excel("commodities.xlsx")
display(tabela)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32          NaN      NaN
1      Soja       163.59          NaN      NaN
2       Boi       282.20          NaN      NaN
3  Petróleo       424.37          NaN      NaN
4   Algodão       497.76          NaN      NaN
5    Açúcar       136.23          NaN      NaN
6      Café      1092.87          NaN      NaN
7      Ouro       321.77          NaN      NaN
8   Tilápia         9.05          NaN      NaN

In [10]:
for linha in tabela.index:
    produto = tabela.loc[linha, "Produto"]
    
    print(produto)
    produto = produto.replace("ó", "o").replace("ã", "a").replace("á", "a").replace(
    "ç", "c").replace("ú", "u").replace("é", "e")
    
    link = f"https://www.melhorcambio.com/{produto}-hoje"
    print(link)
    navegador.get(link)

    preco = navegador.find_element('xpath', '//*[@id="comercial"]').get_attribute('value')
    preco = preco.replace(".", "").replace(",", ".")
    print(preco)
    tabela.loc[linha, "Preço Atual"] = float(preco)
    
    
print("Acabou")
display(tabela)

Milho
https://www.melhorcambio.com/Milho-hoje
56.04
Soja
https://www.melhorcambio.com/Soja-hoje
132.90
Boi
https://www.melhorcambio.com/Boi-hoje
263.60
Petróleo
https://www.melhorcambio.com/Petroleo-hoje
377.80
Algodão
https://www.melhorcambio.com/Algodao-hoje
398.50
Açúcar
https://www.melhorcambio.com/Acucar-hoje
150.31
Café
https://www.melhorcambio.com/Cafe-hoje
1057.64
Ouro
https://www.melhorcambio.com/Ouro-hoje
318.14
Tilápia
https://www.melhorcambio.com/Tilapia-hoje
9.45
Acabou

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        56.04      NaN
1      Soja       163.59       132.90      NaN
2       Boi       282.20       263.60      NaN
3  Petróleo       424.37       377.80      NaN
4   Algodão       497.76       398.50      NaN
5    Açúcar       136.23       150.31      NaN
6      Café      1092.87      1057.64      NaN
7      Ouro       321.77       318.14      NaN
8   Tilápia         9.05         9.45      NaN

In [11]:
tabela["Comprar"] = tabela["Preço Atual"] < tabela["Preço Ideal"]
display(tabela)


tabela.to_excel("commodities_atualizado.xlsx", index=False)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        56.04     True
1      Soja       163.59       132.90     True
2       Boi       282.20       263.60     True
3  Petróleo       424.37       377.80     True
4   Algodão       497.76       398.50     True
5    Açúcar       136.23       150.31    False
6      Café      1092.87      1057.64     True
7      Ouro       321.77       318.14     True
8   Tilápia         9.05         9.45    False

In [12]:
navegador.quit()